@import "../../scss/abstracts/abstracts";

.Audio {
  color: $palette-3;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 7rem;
  &__header {
    color: $palette-4;
    font-weight: 500;
    @include textShadow;
    
  }
  &__box {
    @include verticalCenter;
  }
}