@import '../../../scss/abstracts/abstracts';
.Head {
  text-align: center;
  @include verticalCenter;
  &__video {
    height: 70%;
    width: 70%;
    mask-image: url(../../../assets/images/head.svg);
    mask-repeat: no-repeat;
    mask-position: center;
  }
}
*::-webkit-media-controls-panel {
  display: none !important;
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none !important;
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  opacity: 0;
  appearance: none;
  -webkit-appearance: none;
}
// video {
//   height: 300px;
//   width: 300px;
//   mask-image: url(../test.svg);
//   -webkit-mask-repeat: no-repeat;
//   mask-repeat: no-repeat;
//   -webkit-mask-position: center;
//   mask-position: center;
// }
video::-webkit-media-controls {
  display: none !important;
}
// .gifHead {
//   height: 300px;
//   width: 300px;
//   -webkit-mask-image: url(../test.svg);
//   mask-image: url(../test.svg);
//   -webkit-mask-repeat: no-repeat;
//   mask-repeat: no-repeat;
//   -webkit-mask-position: center;
//   mask-position: center;
// }

// svg {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }
// .wrapper {
//   position: relative;
//   width: 100%;
//   margin: 0 auto;
//   max-width: 1000px;
// }
