@import '../../../scss/abstracts/abstracts';
$head-width: 70%;
.Head {
  text-align: center;
  display: flex;
    justify-content: center;
    align-items: center;
  @include verticalCenter;
  &__video {
    // height: $head-width * .7;
    width: 100%;
    mask-image: url(../../../assets/images/head.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    transform: translate3d(6%, 0, 0);
    backface-visibility: hidden;
  }
}
