@import "../../../scss/abstracts/abstracts";
$head-width: 70%;
.Head {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include verticalCenter;

  &__video {
    width: 80%;
    mask-image: url(../../../assets/images/head.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    transform: translate3d(6%, 0, 0);
    backface-visibility: hidden;
    filter: drop-shadow(
      0px 0px 0px #4444dd
    ); // this doesn't actually do anything, but it does fix a firefox bug where the svg doesn't animate.
  }
}
