@import "../../../scss/abstracts/abstracts";
@import '../../../scss/abstracts/animations/pedalanimation';
@mixin pedalShadow {
  filter: drop-shadow(17px -12px 22px rgba(0, 0, 0, 0.54));
}
.RE20 {
  &__container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  &__pedal {
    position: relative;
    width: 80%;
    max-width: 72rem;
    margin: auto;
    animation: pedalBounceIn 1s 0s;
    &-pedal {
      width: 100%;
      @include pedalShadow;
      
    }
    &-peak {
      width: 100%;
      position: absolute;
      z-index: 2;
    }
    &-eyes {
      width: 100%;
      position: absolute;
      z-index: 2;
    }
  }
  &__bubble {
    position: absolute;
    width: 30%;
    right: 10%;
    top: 53%;
    @include pedalShadow;
    &-bubble {
      position: absolute;
      width: 100%;
      height: auto;
      right: 0;
      animation  : dance 1.5s 1s infinite, pedalRubberBand 1s 0s;

    }
    &-words {
      position: absolute;
      top: 1.5vw;
      left: 38%;
      width: 41%;
      animation  : pedalSwell 1.5s 1.5s infinite alternate, pedalTada 1s 0s;
    }
  }
}
