.RE20__container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

.RE20__pedal {
  position: relative;
  width: 80%;
  max-width: 72rem;
  margin: auto; }
  .RE20__pedal-pedal {
    width: 100%; }
  .RE20__pedal-peak {
    width: 100%;
    position: absolute;
    z-index: 2; }
  .RE20__pedal-eyes {
    width: 100%;
    position: absolute;
    z-index: 2; }

.RE20__bubble {
  position: absolute;
  width: 30%;
  right: 10%;
  top: 53%; }
  .RE20__bubble-bubble {
    position: absolute;
    width: 100%;
    height: auto;
    right: 0; }
  .RE20__bubble-words {
    position: absolute;
    top: 1.5vw;
    left: 38%;
    width: 41%; }
