@keyframes pedalBounceIn {
  20%,
  40%,
  60%,
  80%,
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

@keyframes pedalDance {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(0.95, 0.95, 0.95); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes pedalRubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes pedalTada {
  from {
    transform: scale3d(1, 1, 1); }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes pedalSwell {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

.RE20__container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

.RE20__pedal {
  position: relative;
  width: 80%;
  max-width: 72rem;
  margin: auto;
  animation: pedalBounceIn 1s 0s; }
  .RE20__pedal-pedal {
    width: 100%;
    filter: drop-shadow(17px -12px 22px rgba(0, 0, 0, 0.54)); }
  .RE20__pedal-peak {
    width: 100%;
    position: absolute;
    z-index: 2;
    animation: pedalPeakBlink 1s infinite; }
  .RE20__pedal-eyes {
    width: 100%;
    position: absolute;
    z-index: 2;
    animation: pedalEyesBlink 5s infinite; }

.RE20__bubble {
  position: absolute;
  width: 30%;
  right: 10%;
  top: 53%;
  backface-visibility: hidden;
  filter: drop-shadow(17px -12px 22px rgba(0, 0, 0, 0.54)); }
  .RE20__bubble-bubble {
    position: absolute;
    width: 100%;
    height: auto;
    right: 0;
    animation: pedalDance 2s 1s infinite, pedalRubberBand 1s 0s;
    backface-visibility: hidden; }
  .RE20__bubble-words {
    position: absolute;
    top: 1.5vw;
    left: 38%;
    width: 41%;
    animation: pedalSwell 2s 1.5s infinite alternate, pedalTada 1s 0s;
    backface-visibility: hidden; }

.hidden {
  display: none; }

@keyframes pedalPeakBlink {
  0% {
    opacity: 1; }
  49% {
    opacity: 1; }
  50% {
    opacity: 0; }
  99% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pedalEyesBlink {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  46% {
    opacity: 0; }
  48% {
    opacity: 0; }
  49% {
    opacity: 1; }
  51% {
    opacity: 1; }
  52% {
    opacity: 0; }
  54% {
    opacity: 0; }
  55% {
    opacity: 1; }
  57% {
    opacity: 1; }
  100% {
    opacity: 1; } }
