// MEDIA QUERY MANAGER
// -------------------
// 600-900: tablet in portrait
// 900-1200: tablet in landscape
// [1200-1800] is where our normal styles apply
// 1800+: big desktop
//  choices for breakpoint argument:
// -phone
// -tab-port
// -tab-land
// -big-desktop
// 1em = 16px
// -------------------
@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  } //600px
  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  } // 900px
  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  } // 1200px
  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } // 1800px
}
// end Media query manager

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Border panel mixin
@mixin borderpanel($direction) {
  background-color: $color-border;
  position: absolute;
  border-radius: 1rem;
  @if $direction == h {
    height: $border-thickness;
    width: $border-width;
  }
  @if $direction == v {
    height: $border-height;
    width: $border-thickness;
  }
}

@mixin nav-sidebar {
    height: $nav-height;
    background-color: $color-border;
    border-radius: .4rem;
    position: absolute;
    top: 0;
    width: $border-thickness;
    z-index: -1;
}

