.Intro {
  color: #040136;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 7rem; }
  .Intro__box {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%); }
