@import '../../../scss/abstracts/abstracts';
.NavIcon {
    font-size: 2.8rem;
    width: ($nav-width / 3) - 1rem;
    color: $color-border;
    display: inline-block;
    text-align: center;
    font-family: $font-paragraph;
    // @include verticalCenter;
    & i {
        display: inline-block;
    }
    &__caption {
        display: inline-block
    }
}