@import "../../scss/abstracts/abstracts";
.border {
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $border-z-index;
  filter: drop-shadow(.2rem .1rem .1rem rgba(0, 0, 0, .2));
  &__top {
    @include borderpanel(h);
    left: $border-padding;
    top: $border-padding;
  }
  &__bottom-l {
    @include borderpanel(hb);
    left: $border-padding;
    bottom: $border-padding;
  }
  &__bottom-r {
    @include borderpanel(hb);
    right: $border-padding;
    bottom: $border-padding;
  }
  &__left {
    @include borderpanel(v);
    left: $border-padding;
    top: $border-padding;
  }
  &__right {
    @include borderpanel(v);
    right: $border-padding;
    top: $border-padding;
    
  }
}
