@import "../../scss/abstracts/abstracts";
.border {
  pointer-events: none;
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $border-z-index;
  filter: drop-shadow($shadow);
  &__leftbar {
    @include nav-sidebar;
    left: $border-bumper-displacement;
  }

  &__rightbar {
    @include nav-sidebar;
    right: $border-bumper-displacement;
  }
  &__top {
    @include borderpanel(h);
    left: $border-padding;
    top: $border-padding;
  }
  &__bottom-l {
    @include borderpanel(hb);
    left: $border-padding;
    bottom: $border-padding;
  }
  &__bottom-r {
    @include borderpanel(hb);
    right: $border-padding;
    bottom: $border-padding;
  }
  &__left {
    @include borderpanel(v);
    left: $border-padding;
    top: $border-padding;
  }
  &__right {
    @include borderpanel(v);
    right: $border-padding;
    top: $border-padding;
    
  }
}
