.border {
  pointer-events: none;
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  filter: drop-shadow(0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2)); }
  .border__leftbar {
    height: 3rem;
    background-color: #421093;
    border-radius: .4rem;
    position: absolute;
    bottom: 1rem;
    width: 1rem;
    z-index: -1;
    left: calc(calc((50% - (2 * 2rem)) - (15rem / 3)) + 2rem - 1rem); }
  .border__rightbar {
    height: 3rem;
    background-color: #421093;
    border-radius: .4rem;
    position: absolute;
    bottom: 1rem;
    width: 1rem;
    z-index: -1;
    right: calc(calc((50% - (2 * 2rem)) - (15rem / 3)) + 2rem - 1rem); }
  .border__bottom-l {
    background-color: #421093;
    position: absolute;
    border-radius: 1rem;
    height: 1rem;
    width: calc((50% - (2 * 2rem)) - (15rem / 3));
    left: 2rem;
    bottom: 2rem; }
  .border__bottom-r {
    background-color: #421093;
    position: absolute;
    border-radius: 1rem;
    height: 1rem;
    width: calc((50% - (2 * 2rem)) - (15rem / 3));
    right: 2rem;
    bottom: 2rem; }
  .border__left {
    background-color: #421093;
    position: absolute;
    border-radius: 1rem;
    height: calc(100vh - (2 * 2rem));
    width: 1rem;
    left: 2rem;
    top: 2rem; }
  .border__right {
    background-color: #421093;
    position: absolute;
    border-radius: 1rem;
    height: calc(100vh - (2 * 2rem));
    width: 1rem;
    right: 2rem;
    top: 2rem; }
