.Nav {
  bottom: 0;
  left: calc(50% - (10rem / 2));
  height: 5rem;
  position: fixed;
  width: 10rem;
  z-index: 201; }
  .Nav__leftbar {
    height: 3rem;
    background-color: #221093;
    border-radius: .4rem;
    position: absolute;
    bottom: 1rem;
    width: 1rem;
    z-index: -1;
    left: 0; }
  .Nav__middlebar {
    background-color: #f3eaea;
    height: 1rem;
    position: absolute;
    bottom: 2rem;
    width: 10rem;
    z-index: -1; }
  .Nav__rightbar {
    height: 3rem;
    background-color: #221093;
    border-radius: .4rem;
    position: absolute;
    bottom: 1rem;
    width: 1rem;
    z-index: -1;
    right: 0; }
  .Nav ul {
    list-style: none;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    text-align: center; }
    .Nav ul li {
      display: inline; }
