@import "../../scss/abstracts/abstracts";
.Nav {
  // background-color: $color-background-page;
  bottom: 0;
  left: unquote("calc(50% - (#{$nav-width} / 2))");
  height: 5rem;
  position: fixed;
  z-index: $nav-z-index;
  width: $nav-width;
  &__leftbar {
    @include nav-sidebar;
    left: 0;
  }
  &__middlebar {
    background-color: $color-background-page;
    height: $border-thickness;
    position: absolute;
    bottom: $border-padding;
    width: $nav-width;
    z-index: -1;
  }
  &__rightbar {
    @include nav-sidebar;
    right: 0;
  }
  & ul {
    list-style: none;
    @include verticalCenter;
    text-align: center;
    padding-left: 1.5 * $border-thickness;
    padding-right: 1.5 * $border-thickness;
    & li {
      text-align: center;
      display: inline;
    }
  }
}
