.Nav {
  bottom: 0;
  left: calc(50% - (15rem / 2));
  height: 5rem;
  position: fixed;
  z-index: 201;
  width: 15rem; }
  .Nav ul {
    list-style: none;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
    .Nav ul li {
      text-align: center;
      display: inline; }
